<app-template-full-width title="Listes des commandes">
  <app-table-light [headers]="headers" *ngIf="orders$ |async as orders">
    <!-- <pre>{{ orders |json }}</pre> -->
    <tr *ngFor="let order of orders">
      <td>{{ order.typePresta }}</td>
      <td>{{ order.client }}</td>
      <td>{{ order.nbJours }}</td>
      <td>{{ order.tjmHt |currency : 'EUR' }}</td>
      <td>{{ order.nbJours |total : order.tjmHt |currency }}</td>
      <td>{{ order.nbJours |total : order.tjmHt : order.tva |currency }}</td>
      <td>
        <select (change)="changeState(order, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === order.state">
            {{ state }}
          </option>
        </select>
      </td>
      <td><app-icon-edit (click)="goToEdit(order.id)"></app-icon-edit></td>
    </tr>
  </app-table-light>
  <!-- <app-button-redirection nomLabel="orders" redirection="http://localhost:4200/clients">Voir clients</app-button-redirection> -->
</app-template-full-width>
<app-button-redirection nomLabel="Ajouter un client" redirection="add"></app-button-redirection>
